html, body {
	margin: 0;
	padding: 0;
}

h1, h2, button {
	font-family: sans-serif;
}

h1 {
	margin: 10px 0px 0px;
	color: #666;
}

h2 {
	margin: 5px 0px 0px;
	font-size: 14px;
	color: #aaa;
}

.contain_buttons {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

button {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	border: none;
	margin-top: 20px;
	padding: 10px 20px;
	text-transform: uppercase;
	background-color: #fff;
	font-size: 14px;
	color: #ccc;
	border: 3px solid #eee;
}

button:hover {
	background-color: #eee;
	color: #aaa;
}

.contain_divs {
	width: 100%;
	max-width: 960px;
	margin: 20px auto;
	background-color: #eee;
}

.block {
	transition: all 0.3s ease-in-out;
	background-color: #aaa;
	float: left;
	margin: 1px;
}